body {
  background: #181818;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}
nav {
  font-size: 12px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}
.nav-left {
  align-items: left;
  justify-items: left;
  justify-content: left;
}
.brand {
  text-align: left;
  font-size: 3em;
}
#container {
  font-size: small;
  margin: 10px;
}
.content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.card {
  display: block;
  padding: 1em;
  width: 200px;
  text-align: center;
}
.card {
  cursor: pointer;
}
.poster {
  width: 200px;
  height: 300px;
}
