body {
  background-color: #0c0c0d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%234391b4' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
  font-family: "Quicksand", sans-serif;
  padding: 0 1.5em;
}
.navbar {
  background-color: blue;
}
nav {
  font-size: 12px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 2.5%;
  color: #fff;
}
.nav-left {
  align-items: left;
  justify-items: left;
  justify-content: left;
}
.brand {
  text-align: left;
  font-size: 3em;
}
#container {
  font-size: small;
  color: #fff;
  width: 90%;
  margin: auto;
  padding: 2em;
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.movies,
.series {
  border: 1px solid #fff;
  margin: 0.5em;
  padding: 1em;
  padding-right: 1rem;
  background-color: #000116;
}
.movies h2,
.series h2 {
  border-bottom: 1px solid #fff;
  padding-bottom: 0.45em;
}
.card {
  display: block;
  padding: 0.5em;
  width: 200px;
  text-align: center;
  border: 1px solid #fff;
  padding: 1em;
  cursor: pointer;
  margin: auto;
}

.poster {
  width: 200px;
  height: 300px;
  padding: 1px;
  border: groove 2px #fff;
}
.alone {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.alone .poster {
  grid-column: 1/2;
}
.alone #info {
  grid-column: 2/7;
  margin: -4px 3px;
}
